{% extends 'base.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block styles %}
    <style>
        main {
            display: block;
            text-align: center;
        }

        .game-btn {
            background-color: rgba(255, 255, 255, 0.1);
            border: 3px solid white;
            border-radius: 10px;
            color: white;
            width: 50%;
            font-weight: bold;
            font-size: 24px;
        }

        .game-btn:hover {
            background-color: white;
            color: #2473D0;
        }
    </style>
{% endblock %}

{% block main %}
    <main>
        <section>
            <a href="{% url "game:single-player" %}">
                <button class="btn game-btn"><i class="bi bi-robot"></i> Single Player</button>
            </a>

            <a href="{% url "game:two-player" %}">
                <button class="btn game-btn"><i class="bi bi-people-fill"></i> Two Player</button>
            </a>
        </section>
    </main>
{% endblock %}