{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <style>
        main {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 10px;
            width: 50%;
        }

        #game-section {
            display: none;
        }

        #pending-section {
            display: flex;
        }

        .text-big {
            font-size: 10rem;
        }

        .btn-cancel {
            background-color: #D02424;
            width: 100%;
            cursor: pointer;
        }

        .btn:hover {
            color: white;
            background-color: #a61b1b;
            transition: ease-in-out 0.3s;
        }

        .overlay {
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 150vh;
            background: rgba(0,0,0,0.5);
            z-index: 50;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/board_style.css' %}">
{% endblock %}

{% block main %}
    <main>
        <div id="messages" class="w-100"></div>

        <h1>Room name: {{ room_id }}</h1>
        <section id="profiles">
            <div class="profile" id="host">
                <div class="online" id="host-online"></div>
                <img src="{% static 'img/default-user2.png' %}" id="host-avatar" alt="host-avatar" width="75px" height="75px">
                <div class="username" id="host-username">Unknown</div>
            </div>

            <div class="profile" id="guest" dir="rtl">
                <div class="online" id="guest-online"></div>
                <img src="{% static 'img/default-user2.png' %}" id="guest-avatar" alt="guest-avatar" width="75px" height="75px">
                <div dir="ltr" class="username" id="guest-username">Unknown</div>
            </div>
        </section>

        <div id="overlay" class="overlay">
            <h3>Wait for your opponent's move</h3>
        </div>

        <div id="score-board" class="overlay">
            <h2 id="winner"></h2>
            <a style="width: 50%" href="{% url "home" %}">
                <button class="btn btn-cancel" >&times;</button>
            </a>
        </div>

        <section id="pending-section">
            <div id="board"></div>
            <p>online users: <span id="online-count">0</span></p>
            <h1 class="text-big">Pending...</h1>

            <a style="width: 50%" href="{% url "game:delete-room" room_id %}">
                <button class="btn btn-cancel fs-5">Leave the Room</button>
            </a>
            <p style="font-style: italic;">The game will begin once another player joins the room</p>
        </section>

        <section id="game-section">
            <div id="dots"></div>
            <div id="lines"></div>
            <div id="squares"></div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script>
        let socket;
        let playerTurn;
        let host, guest;
        let playerColors = {};
        const roomName = "{{ room_id }}";
        const playerUsername = "@{{ username }}";
        const messages = document.getElementById('messages');
        const onlineCount = document.getElementById('online-count');

        // game board section
        const gameSection = document.getElementById('game-section');
        const pendingSection = document.getElementById('pending-section');
        const dots = document.getElementById('dots');
        const lines = document.getElementById('lines');
        const squares = document.getElementById('squares');
        const overlay = document.getElementById('overlay');
        const scoreBoard = document.getElementById('score-board');
        const winner = document.getElementById('winner');

        // profile
        const hostAvatar = document.getElementById('host-avatar');
        const hostUsername = document.getElementById('host-username');
        const hostOnline = document.getElementById('host-online');
        const guestAvatar = document.getElementById('guest-avatar');
        const guestUsername = document.getElementById('guest-username');
        const guestOnline = document.getElementById('guest-online');

        function notification(notif_type, text) {
            let div = document.createElement('div');
            div.className = `alert alert-${notif_type} alert-dismissible fade show`;
            div.role = 'alert'
            div.innerHTML = `${text} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            messages.append(div)
        }

        function initializeWebSocket() {
            socket = new WebSocket(`ws://${window.location.host}/ws/game/${roomName}/`);

            socket.onopen = function() {
                socket.send(JSON.stringify({
                    'action': 'get_host',
                }))
            };

            socket.onmessage = function(e) {
                const data = JSON.parse(e.data);

                if (data.type === 'host_info') {
                    hostUsername.innerText = data.player;
                    hostAvatar.src = data.avatar;
                    hostOnline.style.visibility = 'visible';
                }

                else if (data.type === 'player_joined') {
                    if (data.role === 'host') {
                        hostUsername.innerText = data.player;
                        hostAvatar.src = data.avatar;
                        hostOnline.style.visibility = 'visible';
                    } else {
                        guestUsername.innerText = data.player;
                        guestAvatar.src = data.avatar;
                        guestOnline.style.visibility = 'visible';
                    }
                    notification('primary', `<strong>${data.player}</strong> joined the room.`);
                }

                else if (data.type === 'player_left') {
                    if (data.player === hostUsername.innerText) {
                        hostUsername.innerText = 'Unknown';
                        hostAvatar.src = `{% static 'img/default-user2.png' %}`;
                        hostOnline.style.visibility = 'hidden';
                    } else {
                        guestUsername.innerText = 'Unknown';
                        guestAvatar.src = `{% static 'img/default-user2.png' %}`;
                        guestOnline.style.visibility = 'hidden';
                    }
                    notification('danger', `<strong>${data.player}</strong> left the room.`);
                }

                else if (data.type === 'online_users') {
                    onlineCount.innerText = data.count
                }

                else if (data.type === 'room_deleted') {
                    let div = document.createElement('div');
                    div.className = `alert alert-danger alert-dismissible fade show`;
                    div.role = 'alert';
                    div.innerHTML = `${data.message}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
                    messages.append(div);
                    socket.close();
                    window.location.href = '/';
                }

                else if (data.type === 'start_game') {
                    host = data.host;
                    guest = data.guest;
                    playerColors[data.host] = 'host';
                    playerColors[data.guest] = 'guest';

                    playerTurn = host
                    startGame(data.host, data.guest, data.current_player, data.current_turn);
                }

                else if (data.type === 'stop_game') {
                    document.getElementById('game-section').style.display = 'none';
                    document.getElementById('pending-section').style.display = 'flex';

                    guestUsername.innerText = 'Unknown';
                    guestAvatar.src = `{% static 'img/default-user2.png' %}`;
                    guestOnline.style.visibility = 'hidden';
                }

                else if (data.type === 'game_move') {
                    updateGameBoard(data.row, data.col, data.side, data.player);
                    playerTurn = playerTurn === guest ? host : guest;
                    changeTurn()
                }

                else if (data.type === 'square_complete') {
                    fillSquare(data.row, data.col, data.player);
                    playerTurn = data.player;
                    changeTurn()
                }

                else if (data.type === 'wrong_move') {
                    notification('danger', 'Invalid Move!');
                }

                else if (data.type === 'game_over') {
                    overlay.style.visibility = 'hidden';
                    scoreBoard.style.visibility = 'visible';

                    if (data.winner === 'Draw') {
                        winner.innerText = 'Match Ends in a Draw.';
                    } else if (data.winner === playerUsername) {
                        winner.innerText = 'You won the match :)';
                    } else {
                        winner.innerText = 'You lost the match :(';
                    }
                }
            };

            socket.onerror = function(error) {
                console.error('WebSocket error:', error);
            };

            socket.onclose = function() {
                console.log('WebSocket connection closed');
            };
        }

        function startGame(host, guest, currentPlayer, currentTurn) {
            gameSection.style.display = 'flex';
            pendingSection.style.display = 'none';
            playerTurn = currentTurn
            changeTurn()
        }

        function changeTurn() {
            if (playerUsername === playerTurn) {
                overlay.style.visibility = 'hidden';
            } else {
                overlay.style.visibility = 'visible';
            }
        }

        function sendMove(row, col, side) {
            if (playerUsername !== playerTurn) {
                alert('its not your turn');
            }
            else if (socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify({
                    'action': 'make_move',
                    'row': row,
                    'col': col,
                    'side': side,
                    'player': playerUsername
                }));

            }
            else {
                console.error('WebSocket is not open. Ready state:', socket.readyState);
            }
        }

        function createGameBoard(n) {
            // dots
            for (let i = 1; i <= n; i++) {
                let rowDot = document.createElement('div');
                rowDot.classList.add('row-dot');

                for (let j = 1; j <= n; j++) {
                    rowDot.appendChild(createDot());
                }
                dots.appendChild(rowDot)
            }

            // lines
            for (let i = 1; i <= n; i++) {
                let rowLine = document.createElement('div');
                rowLine.classList.add('row-line');
                let rowLineVertical = document.createElement('div');
                rowLineVertical.classList.add('row-line', 'row-vertical');

                for (let j = 1; j <= n; j++) {
                    if (i !== n) {
                        if (j !== n) {
                            rowLine.appendChild(createLine(i, j, 'top', ['line']));
                            rowLineVertical.appendChild(createLine(i, j, 'left', ['line', 'vertical']));
                        } else rowLineVertical.appendChild(createLine(i, j - 1, 'right', ['line', 'vertical']));

                    } else {
                        if (j !== n) rowLine.appendChild(createLine(i - 1, j, 'bottom', ['line']));
                    }
                }

                lines.appendChild(rowLine);
                if (i !== n) lines.appendChild(rowLineVertical);
            }

            // squares
            for (let i = 1; i < n; i++) {
                let rowSquare = document.createElement('div');
                rowSquare.classList.add('row-square');

                for (let j = 1; j < n; j++) {
                    rowSquare.appendChild(createSquare(i, j));
                }
                squares.appendChild(rowSquare)
            }
        }

        function createDot() {
            const dot = document.createElement('div');
            dot.classList.add('dot');
            return dot;
        }

        function createLine(row, col, side, classList) {
            const line = document.createElement('div');
            line.classList.add(...classList);
            line.setAttribute('data-row', row);
            line.setAttribute('data-col', col);
            line.setAttribute('data-side', side);
            line.addEventListener('click', () => sendMove(row, col, side));
            return line;
        }

        function createSquare(row, col) {
            const square = document.createElement('div');
            square.classList.add('square');
            square.setAttribute('data-row', row);
            square.setAttribute('data-col', col);
            return square;
        }

        function updateGameBoard(row, col, side, player) {
            const line = document.querySelector(`[data-row="${row}"][data-col="${col}"][data-side="${side}"]`);
            line.classList.add(`${playerColors[player]}-line`);
        }

        function fillSquare(row, col, player) {
            const square = document.querySelector(`.square[data-row="${row}"][data-col="${col}"]`);
            square.classList.add(`${playerColors[player]}-square`);
        }

        // Initialize WebSocket and create the game board when the page loads
        window.onload = () => {
            initializeWebSocket();
            createGameBoard({{ board_size }});
        };
    </script>
{% endblock %}